<div class="article" id="projects">
    <div class="my-projects" id="my-projects">
        <div class="projects-header" id="projects-header">
            <h3>
                Projects
            </h3>
        </div>

        <div class="tradexpress" id="tradexpress">
            <h6>
                TradExpress, <span>A frontend project</span> <a target="_blank"
                    href="https://adelakuntradexpress.netlify.app/"><i class="bi bi-box-arrow-up-right"></i></a>
            </h6>
            <li>This is a frontend project built using Html, CSS, Reactjs, and Bootstrap.</li>
            <li>It's a trading platform landing page called TradExpress, where a user can sign up, buy and sell
                cryptocurrency.
            </li>
            <li>
                Also, an API was fetched in order for a user to see the real-time current market price of all
                the top cryptocurrencies.
            </li>
        </div>

        <div class="tradexpress" id="tradexpress">
            <h6>
                Post List,<span> A full stack web project</span> <a target="_blank"
                    href="https://github.com/thisisadelakun/PostList/"><i
                        class="bi bi-box-arrow-up-right"></i></a>
            </h6>

            <li>A project built using Html, CSS, Bootstrap, and Reactjs in our front end, while we used Python
                and Django at our backend.
            </li>
            <li>
                This project was our final project during my course of study, which consist of RESTful API. In
                this project, a user can post his/her blog.
            </li>
            <li>
                This project was carried out by a group of 3 people including me.
            </li>
        </div>

        <div class="tradexpress" id="tradexpress">
            <h6>
                Spatial variability of two major FM Radio Stations,<span> within Ogbomosho</span> <a
                    target="_blank" href="https://adelakuntradexpress.netlify.app/"><i
                        class="bi bi-box-arrow-up-right"></i></a>
            </h6>

            <li>In this study, an effective field strength measurement of the channel across Ogbomoso, Oyo
                state, was conducted as far as road accessibility permits.
            </li>
            <li>
                Other necessary radio communication Other necessary radio communication parameters on the
                MHz band such as line of sight, elevation and geographical coordinates of the various data
                points were also determined.
            </li>
            <li>
                This project was my final year project at the university, and it was carried out by a
                group of 7 students including me.
            </li>
        </div>

        <div class="experience" id="experience">
            <div class="my-experience-header" id="my-experience-header">
                <h3>
                    Experience
                </h3>
            </div>

            <div class="my-experience-content" id="my-experience-content">
                <div class="info" id="info">
                    <h6>
                        Internship Lab Technician, <span>Oluwaseun Medical Centre</span>
                        <hr>
                    </h6>

                    <div class="info-li" id="info-li">
                        <li>Designed and conducted lab tests according to standard procedures.</li>
                        <li>Conducted tests on new products or experimental processes.</li>
                        <li>
                            Administrative tasks such as maintaining notebooks, documenting procedures, and preparing
                            orders.
                        </li>
                    </div>
                </div>

                <div class="date" id="date">
                    <span>
                        Jun 2019 - Jan 2020
                        Ogbomosho, Nigeria
                    </span>
                </div>
            </div>


            <div class="certification" id="certification">
                <div class="info" id="info">
                    <h6>
                        CERTIFICATIONS
                        <hr>
                    </h6>
                    <p>
                        Full Stack Web Development, <span>Tech Studio Academy</span>
                    </p>
                </div>

                <div class="date" id="date">
                    <span>
                        Jan 2023
                        Lagos, Nigeria
                    </span>
                </div>
            </div>

            <div class="certification awards" id="certification awards">
                <div class="info" id="info">
                    <h6>
                        AWARDS
                        <hr>
                    </h6>
                    <p>
                        Student Recognition Award, <span>Tech Studio Academy</span>
                    </p>
                </div>

                <div class="date" id="date">
                    <span>
                        Dec 2022
                    </span>
                </div>
            </div>

            <div class="certification ve" id="certification ve">
                <div class="info" id="info">
                    <h6>
                        VOLUNTEER EXPERIENCE
                        <hr>
                    </h6>
                    <p>
                        National Youth Service Corps, (NYSC), <span>Community Development Service</span>
                    </p>
                </div>
            </div>

            <div class="certification Language" id="certification Language">
                <div class="info" id="info">
                    <h6>
                        LANGUAGES
                        <hr>
                    </h6>
                    <p>
                        English Language <span>Fluent</span>
                    </p>
                </div>
            </div>

        </div>
    </div>