<div class="contacts" id="contact-me">
    <div class="contact-header" id="contact-header">
        <h3>Hi there,</h3>
        <p class="intouch" id="intouch">
            Let's discuss your project.<br />
        </p>
    </div>

    <div class='sub-contact-content' id="sub-contact-content">
        <div class='sub-contact-content1' id="sub-contact-content1'">
            <div class='mail' id="mail">
                <p class="linking" id="linking">Feel free to contact me via email</p>
                <a href="mailto:adelakunabayomi123@gmail.com">
                    <p class='mails' id="mails">
                        <i class="bi bi-envelope-fill"></i> adelakunabayomi123@gmail.com
                    </p>
                </a><br />
                <p class="links" id="links">Or find me on:</p>
            </div>

            <div class='socialmedia' id="socialmedia">
                <a href="https://www.linkedin.com/in/abayomi-adelakun-897227178" target="blank">

                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://instagram.com/thisisadelakun?igshid=YmMyMTA2M2Y=" target="blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://github.com/thisisadelakun" target="blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://twitter.com/thisisadelakun?s=11&t=p8KES3QWDuTVQAluQEAB6Q" target="blank">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div>

        <div class='madewithlove' id="madewithlove">
            <p class='madewith' id="madewith">Made with <i class="bi bi-heart-fill"></i> by
                <a href="https://instagram.com/thisisadelakun?igshid=YmMyMTA2M2Y=" target="blank">
                    @thisisadelakun.
                </a>
            </p>
        </div>

    </div>
