#home-container{
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 3rem 0;
}

#header-text {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

#header-text span {
    font-size: 15px;
    color: rgba(233, 231, 231, 0.904);
}

#header-text h1 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0.5rem 0;
    color: crimson;

}

#header-text h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(233, 231, 231, 0.788);
}

#header-text p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(233, 231, 231, 0.904);
    margin-top: 1.5rem;
    letter-spacing: 1px;
}

#about-me {
    margin-top: 5rem;
}

#about-me-header {
    position: relative;
}

#about-me-header h2 {
    color: rgba(243, 237, 229, 0.89);
    font-family: 'Roboto Mono', monospace;
    overflow-y: hidden;
}

#about-me-main-content {
    display: flex;
    flex-direction: column;
}

#about-me-content {
    margin-top: 2rem;
}

#about-me-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgba(233, 231, 231, 0.904);
}
#about-me-content span {
    color: crimson;
}
#togglespan{
    color: rgba(255, 255, 240, 0.884);
    font-style: italic;
    font-size: 15px;
}

#skills {
    width: 90%;
    margin: auto;
}

#skills h3 {
    font-family: 'Roboto Mono', monospace;
    padding-top: 2.5rem;
    color: rgba(243, 237, 229, 0.89);
    overflow-y: hidden;
}

#list-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#list-skills p {
    color: rgba(233, 231, 231, 0.904);
    text-indent: 5px;
    margin-top: 1rem;
}

#skills-li li {
    list-style-type: "> ";
    text-indent: 15px;
    color: crimson;
    display: block;
}